<!--section banner carousel-->
 
<section class="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/IMG/pexels-luis-gomes-546819.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>HOLA, SOY IRIS</h1>
            
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/IMG/pexels-sharad-kachhi-3937174.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>SEGUIME!</h1>
            
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/IMG/pexels-tom-swinnen-1309766.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>CONTACTAME!</h1>
            
          </div>
        </div>
      </div>
    </div>
    
    </section>
