<!--section banner carousel-->
 
<section class="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let carousel of banner; let i = index">
          <img [src]="carousel.img" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>{{carousel.text}}</h1>
             </div>
            </div>
          </div>
        </div>
      </section>
