<!--section sobre mi-->
<section class="about-me">
    <div class="container text-center">
    <div class="row">
    <div class="col-md-3">
      <img src="/assets/IMG/iris2.jpg" alt="foto de perfil" class="rounded-circle w-100">
      <h3 class="text-center">Iris Noemi Sanchez. Full Stack Developer Jr.</h3>
    
       
    </div>
    <div class="col-md-9">
      <h4 class="text-center mt-5 pt-5"><strong>ACERCA DE MI:</strong></h4>
    <h5>Hola mi nombre es Iris Noemi Sanchez, soy de Mendiolaza, Córdoba. Hice trabajos varios. Estoy buscando nuevos rumbos, que me conduzcan a nuevas experiencias, por ello incursiono en la programación con el claro objetivo de formarme e informarme para realizar dicha tarea, (porque creo que uno nunca deja de aprender) quiero seguir hasta el final de este camino y ver a donde conduce,soy flexible, compañera y me gusta probarme a mi misma.</h5>
    </div>
    </div>
    </div>
    </section>
