<!-- educacion-->
<section class="Educacion">
    <div class="container text-center">
      <div class="row" *ngFor="let certificados of certificado;">
        <div class="col-md-5 mt-3">
          <h4 class="mt-5 pt-5"><strong>EDUCACION:</strong></h4>
          <h5>{{certificados.text}}</h5> 
        </div>
        <div class="col-md-7">
          <div class="card-deck">
            <div class="card" *ngFor="let card of certificados.cards;">
              <div class="container-fluid">
          <img [src]="card.img" alt="se programar" class="rounded w-100 estudio"> 
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
