<!-- Modal Experiencia-->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      
        <h1 class="modal-title fs-5" id="expModalLabel">Experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="formFile" class="form-label">Trabajos</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" id="trabajos"></textarea>
            
          </div>
        </div>
    
        <div class="mb-3 row">
          <label for="formFile" class="form-label">Empresa</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombres">
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
    </div>
    </div>
    
