/*Dashboard*/
.panal{
    margin-top: 9rem;
}

.btn-secondary:hover{
    opacity: 0.75;
    color: #c94291;
}
h1{
    color: #e209d0fd;
    font: 3em sans-serif;
}
h1:hover{
    transform: translateY(-25%);
    
}