 <!--habilidades-->
 <section class="skills">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-10 pt-5">
    <h4 class="text-center mt-3"><strong>HABILIDADES DURAS Y BLANDAS</strong></h4>
    
          <h5>HTML</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
          <h5>CSS</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
          <h5>JAVASCRIPT</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
          <h5>ANGULAR</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Danger example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
          <h5>JAVA</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
          <h5>BOOTSTRAP</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Warning example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          </div>
        
   
  </section>
