<!-- Modal Acerca de mi-->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      
        <h1 class="modal-title fs-5" id="infoModalLabel">Datos Personales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="formFile" class="form-label">Foto de Perfil</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="fotoPerfil">
            </div>
        </div>
    
        <div class="mb-3 row">
          <label for="formFile" class="form-label">Nombre y Apellido</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombreApellido">
            </div>
        </div>     
    
    <div class="mb-3 row">
          <label for="formFile" class="form-label">Titulo</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="titulo">
            </div>
        </div>
    
        <div class="mb-3 row">
          <label for="formFile" class="form-label">Sobre mi</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" id="sobremi"></textarea>
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
    </div>
    </div>
