<!-- Modal Educacion-->
<div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      
        <h1 class="modal-title fs-5" id="eduModalLabel">Educacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="formFile" class="form-label">Estudios</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" id="estudios"></textarea>
            </div>
        </div>
    
        <div class="mb-3 row">
          <label for="formFile" class="form-label">CertificadoUno</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="certificado">
            </div>
        </div>
    
        <div class="mb-3 row">
          <label for="formFile" class="form-label">CertoficadoDos</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="certificadodos">
            </div>
        </div>
    
        <div class="mb-3 row">
            <label for="formFile" class="form-label">CertoficadoTres</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="certificadotres">
              </div>
            </div>
    
          <div class="mb-3 row">
            <label for="formFile" class="form-label">CertoficadoCuatro</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="certificadocuatro">
              </div>
          </div>
    
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
    </div>
    </div>
