<!-- Modal Skills-->
<div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      
        <h1 class="modal-title fs-5" id="habilididesModalLabel">Habilidades</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
        <form>
        <div class="row">
        <div class="col-6 mb-3 row">
          <label for="html" class="form-label">HTML</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="html">
            </div>
          </div>
          <div class="col-6 mb-3 row">
            <label for="porcentajeUno" class="form-label">Porcentaje</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="porcentajeUno">
              </div> 
            </div>
        </div>
    
            <div class="row">
        <div class="col-6 mb-3 row">
          <label for="css" class="form-label">CSS</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="css">
             </div>
            </div>
            <div class="col-6 mb-3 row">
              <label for="porcentajeDos" class="form-label">Porcentaje</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="porcentajeDos">
                </div> 
              </div>
            </div>
    
            <div class="row">
              <div class="col-6 mb-3 row">
                <label for="javascript" class="form-label">JAVASCRIPT</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="javascript">
                   </div>
                  </div>
                  <div class="col-6 mb-3 row">
                    <label for="porcentajeTres" class="form-label">Porcentaje</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="porcentajeTres">
                      </div> 
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-6 mb-3 row">
                      <label for="angular" class="form-label">ANGULAR</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="angular">
                         </div>
                        </div>
                        <div class="col-6 mb-3 row">
                          <label for="porcentajeCuatro" class="form-label">Porcentaje</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="porcentajeCuatro">
                            </div> 
                          </div>
                        </div> 
                        
                        <div class="row">
                          <div class="col-6 mb-3 row">
                            <label for="java" class="form-label">JAVA</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="java">
                               </div>
                              </div>
                              <div class="col-6 mb-3 row">
                                <label for="porcentajeCinco" class="form-label">Porcentaje</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="porcentajeCinco">
                                  </div> 
                                </div>
                              </div> 
                              
                              <div class="row">
                                <div class="col-6 mb-3 row">
                                  <label for="bootstrap" class="form-label">BOOTSTRAP</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" id="bootstrap">
                                     </div>
                                    </div>
                                    <div class="col-6 mb-3 row">
                                      <label for="porcentajeSeis" class="form-label">Porcentaje</label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="porcentajeSeis">
                                        </div> 
                                      </div>
                                    </div>                       
      </form>
    </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
    </div>
    </div>
