
    body.dashboard{ 
        background-image: url(/assets/IMG/imagen-3.jpg);
        background-position: center;
        background-size: cover;
        
    }
    .dashboard{
        margin-top: -4rem;
    }
    