 <body class="dashboard">
 <!--navbar-->
 <nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/project">
            <img src="/assets/IMG/logo2023.png" alt="logo" clas="w-100">
          </a>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                 <!--boton que envia al login-->
                 <a title="login" href="Login.html"><i class="fa-solid fa-user fa-2x"></i></a>
              </li>
          </ul>
         </div>
</nav>
<!--panel botones cuadrados-->
 <section class="panal">
        <div class="container text-center">
            <div class="row mt-2 g-2 g-lg-3">
              <div class="col mt-5">
                <div class="p-3 mt-3"><button title="redes" type="button" class="btn btn-secondary btn-lg p-4" data-bs-toggle="modal" data-bs-target="#redesModal"><i class="fa-solid fa-users fa-xl">
            </i></button> </div>
              </div>
              <div class="col">
                <div class="p-4 mt-5"><button title="banner" type="button" class="btn btn-secondary btn-lg p-4" data-bs-toggle="modal" data-bs-target="#bannerModal"><i class="fa-solid fa-image fa-xl">
            </i></button> </div>
              </div>
              <div class="col">
                <div class="p-4 mt-5"><button title="info" type="button" class="btn btn-secondary btn-lg p-4" data-bs-toggle="modal" data-bs-target="#infoModal"><i class="fa-solid fa-address-card fa-xl">
            </i></button> </div>
              </div>
              </div>

              <div class="row mt-2 g-2 g-lg-3">
                <div class="col">
                  <div class="p-3 mt-5"><button title="edu" type="button" class="btn btn-secondary btn-lg p-4" data-bs-toggle="modal" data-bs-target="#educacionModal"><i class="fa-solid fa-graduation-cap fa-xl">
            </i></button> </div>
                </div>
                <div class="col">
                  <div class="p-3 mt-5"><button title="exp" type="button" class="btn btn-secondary btn-lg p-4" data-bs-toggle="modal" data-bs-target="#experienciaModal"><i class="fa-solid fa-briefcase fa-xl">
                     </i>
                       </button></div>
                </div>
                <div class="col">
                  <div class="p-3 mt-5"><button title="skills" type="button" class="btn btn-secondary btn-lg p-4" data-bs-toggle="modal" data-bs-target="#skillsModal"><i class="fa-solid fa-bars-progress fa-xl">
            </i></button> </div>
                </div>
                </div>

                <div class="row mt-2 g-2 g-lg-3">
                    <div class="col">
                      <div class="p-3 mt-5"><button title="proyecto" type="button" class="btn btn-secondary btn-lg p-4" data-bs-toggle="modal" data-bs-target="#proyectoModal"><i class=" fa-sharp fa-solid fa-folder fa-xl">
            </i></button> </div>
                    </div>
                    <div class="col">
                      
                    </div>
                    <div class="col">
                      
                    </div>
                    </div> 
          </div>
    </section>
   <app-social></app-social> 
   <app-carousel></app-carousel>
   <app-info></app-info>
   <app-edu></app-edu>
   <app-exp></app-exp>
   <app-skills></app-skills>
   <app-work></app-work>
<!--footer creado del index-->
<app-footer></app-footer>
</body>