<div class="row">
  <h1 class="text-center">Habilidades</h1>
  <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let circle of circles">
    <circle-progress
    [percent]="circle.percent"
    [radius]="circle.radius"
    [imageSrc]="circle.imageSrc"
    [showImage]="circle.showImage"
    [imageWidth]="circle.imageWidth"
    [imageHeight]="circle.imageHeight"
    [outerStrokeWidth]="circle.outerStrokeWidth"
    [innerStrokeWidth]="circle.innerStrokeWidth"
    [outerStrokeColor]="circle.outerStrokeColor"
    [innerStrokeColor]="circle.innerStrokeColor"
    [animation]="circle.animation"
    [animationDuration]="circle.animationDuration"
  ></circle-progress>  
  </div>
</div>
