 <!--experiencia-->
 <section class="Experiencia">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-4">
          <h4 class="pt-5"><strong>EXPERIENCIA:</strong></h4>
           </div>
        <div class="col-md-8">
          <h5 class="pt-5">Realice trabajos como: cajera, niñera, realizacion de cortinas y en la zona de empaque en una fabrica de calzados. Me gusta trabajar, seguir una linea de trabajo, y aprender es lo que mas me motiva si bien no tengo una hoja de vida digamos a la altura, eso no quiere decir que no este dispuesta a enfrentar nuevo retos y desafios solo estoy a la espera de oportunidades. </h5>
        </div>
       </div>
    </div>
        </section>
