
i.fa-solid.fa-user-lock.fa-2x{  
    color:#fff;
    margin-right: 1rem;
}
i.fa-solid.fa-user-lock.fa-2x:hover{
    color:#c78ef5;
    transition: transform o.3s ease-in-out;
        transform: scale(1.55);
 } 
 .list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
   
}
  