/*proyecto y educacion imagen*/
.Proyecto{
    background-color: rgb(242, 243, 210);

}

.card{
     background-color: rgb(0, 0, 0);
}
.card img{
    height: 60vh;
    width: 50%;
}

.card:hover{
    transform: translateY(-2%);
    box-shadow: 5px 50px 20px hsl(0, 1%, 13%);
}